
section{
  align-items: center;
  display: inline-block;
  border: 3px solid #335D71;
  border-color: #7699a8;
  padding:20px;
  margin:20px;
}
section:first-child {
  margin-left: 0;
}

section:last-child {
  margin-right: 0;
}
.img-thumbnail {

    padding: 5px;
    width: 100px;
    height: 125px;
}


p{
  /* info */
font-family: Bradley Hand, cursive}



h3{
   /* checkout total */
  position: relative;
  left:60px;
  font: italic small-caps bold 16px/2 cursive;
  font-size: 30px;
  
}

h2{
  /* giftshop */
  font: italic 1.2em "Fira Sans", serif; 
  font-size: 53px;
  background-color: #6dc6f0;
}
 h1{
   /* apparel  */
  background: rgb(12, 190, 190);
  font: italic small-caps bold 16px/2 cursive;
  font-size: 30px;
  display: inline-block;
  width: 300px;
 }


.Checkout{
  border:1px solid rgb(218, 23, 23) ;
  border-width: 10px;
  margin: 0;
  padding:5px;
  overflow: hidden;
  text-align: center;
  width: 300px;
  position: relative;
  top:38px;
  box-sizing:content-box;
}

.Checkout button{
  font-size: 20px;
  background-color: #25a3ac;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  line-height: 3em;
  position: relative;
  right:100px
 
  
}

.Checkout button:hover {
  background-color: #51acd3;
}


.Checkout button.active {
  background-color: rgb(115, 238, 232);
}

.home button{
  background-color:#25a3ac ;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.home button:hover {
  background-color: #89bfd6;
}


.home button.active {
  background-color: rgb(155, 248, 243);
}



body{
  background-color: #abdaf1;
}